@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Task Management Inc.<br />
    Plovdiv, Center<br />
    <abbr title="Phone">P:</abbr>
    0895 428 175
</address>

<address>
    <strong>Support:</strong> <a href="dilyan_2000@mail.bg">dilyan_2000@mail.bg</a><br />
    <strong>Marketing:</strong> <a href="dilqnbarbov_2000@mail.bg">dilqnbarbov_2000@mail.bg</a>
</address>
